@use '@/styles/vars' as *;

.hero {
  height: 100vh;
  min-height: 900px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  .open {
    font-size: clamp(14px, 1.3vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    color: $red;
    vertical-align: middle;
    text-align: right;
    &::after {
      content: '';
      display: inline-flex;
      width: 15px;
      height: 15px;
      background-color: $red;
      vertical-align: middle;
      margin-left: 6px;
      margin-top: -2px;
    }
  }
  .title {
    margin-top: auto;
    position: relative;
    font-size: clamp(14px, 1.3vw, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    color: $bg;
    &__video {
      position: absolute;
      right: 50%;
      bottom: calc(33.2% + 40px);
      width: 35vw;
      height: 35vw;
      video {
        width: 100%;
        height: 100%;
      }
    }
    &__name {
      position: absolute;
      right: calc(50% + 35vw + 40px);
      text-align: right;
      .open {
        display: none;
      }
    }
    &__director {
      position: absolute;
      top: 34.5%;
      left: 81.6%;
    }
    &__canvas {
      height: 29vw;
    }
  }

  // Tablet styles
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 40px;
    height: auto;
    min-height: initial;
    .open {
      display: none;
    }
    .title {
      margin-top: 0;
      &__video {
        position: static;
        width: 100%;
        height: auto;
        aspect-ratio: 1;
      }
      &__name {
        position: static;
        text-align: left;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .open {
          display: block;
          &::after {
            content: '';
            width: 10px;
            height: 10px;
            margin-left: 6px;
            margin-top: -1px;
          }
        }
      }
      &__director {
        top: auto;
        bottom: 18.5%;
        left: 65.8%;
      }
      &__canvas {
        height: 46.5vw;
        margin-top: calc(40px - (($breakpoint_tablet - 100vw) * 0.029));
        margin-left: calc(($breakpoint_tablet - 100vw) * -0.03);
      }
    }
  }

  // Mobile styles
  @media screen and (max-width: $breakpoint_mobile) {
    padding: 10px;
    .open {
      display: block;
    }
    .title {
      margin-top: 10px;
      &__name {
        margin-top: 20px;
        .open {
          display: none;
        }
      }
      &__canvas {
        margin-top: calc(20px - (($breakpoint_mobile - 100vw) * 0.029));
        margin-left: calc(($breakpoint_mobile - 100vw) * -0.01);
        height: 50vw;
      }
    }
  }
}
