@use '@/styles/vars' as *;

.article {
  background-color: $black;
  line-height: 0;
}

.fullwidth {
  line-height: 0;
  background-color: $black;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    display: block;
    width: 100%;
    max-width: 1920px;
  }
}
.staticwidth {
  line-height: 0;
  max-width: 1280px;
  margin: 0 auto;
  padding: 160px 0;
  display: flex;
  flex-direction: column;
  gap: 160px;
}
