@use '@/styles/vars' as *;

.works {
  position: relative;
  padding-top: 60px;
  .title {
    padding: 0 60px;
    height: 17vw;
  }
}

.information {
  margin-top: 60px;
  flex-grow: 1;
  &__title {
    font-size: 26px;
    line-height: 20px;
    font-weight: 600;
  }
  &__description {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  &__link {
    margin-top: 60px;
    font-size: 16px;
    line-height: 14px;
    font-weight: 600;
  }
}

.koenigsegg {
  display: flex;
  gap: 60px;
  margin-top: 120px;
  padding-right: 60px;
  .information__description {
    max-width: 330px;
  }
  .media {
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
  }
  .media {
    width: 66.66%;
    flex-shrink: 0;
    height: auto;
    aspect-ratio: 5/3;
    background-color: #000;
  }
}

.skyrocket {
  margin-top: 320px;
  padding-left: 60px;
  .media {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    &__logo {
      width: 28%;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__video {
      flex-grow: 1;
      video {
        width: 100%;
        height: auto;
      }
    }
  }
  .information {
    width: 50%;
  }
}

.angle_sparky {
  margin-top: 320px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: flex-end;
  .angle2 {
    width: 50%;
    flex-shrink: 0;
    .media {
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;
      padding: 60px;
      video {
        width: 100%;
        height: auto;
      }
    }
    .information {
      padding-left: 60px;
      max-width: 65%;
    }
  }
  .sparky {
    width: 33%;
    flex-shrink: 0;
    .media {
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;
      padding: 60px;
      video {
        width: 100%;
        height: auto;
      }
    }
  }
}

.mesmerized {
  margin-top: 320px;
  padding-left: 60px;
  .media {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    &__logo {
      flex-grow: 1;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__video {
      width: 28%;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      background-color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        width: 100%;
        height: auto;
      }
    }
    .information {
      width: 50%;
    }
  }
}
