@use '@/styles/vars.scss' as *;

.hero {
  padding: 40px 40px 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 0.9fr;
    width: 75%;
    gap: 60px;
    min-height: 220px;
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
    line-height: 1.2;
    &__title {
      padding: 30px 40px;
      background-color: $black;
      font-size: clamp(20px, 1.5vw, 26px);
      line-height: 1;
      color: $bg;
      clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
    }
    &__tags {
      padding-left: 60px;
      position: relative;
      display: flex;
      &_line {
        width: 3px;
        height: 100%;
        background-color: $black;
        position: absolute;
        left: 0;
        top: 0;
      }
      & > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        align-self: flex-start;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .info {
      gap: 40px;
      width: auto;
      &__tags {
        padding-left: 40px;
      }
    }
  }

  @media screen and (max-width: $breakpoint_tablet) {
    .info {
      display: flex;
      flex-direction: column;
      &__title {
        min-height: 130px;
        padding: 20px;
      }
      &__tags {
        min-height: 130px;
        padding-left: 20px;
      }
    }
  }
  @media screen and (max-width: $breakpoint_mobile) {
    padding: 40px 10px;
    gap: 10px;
    .info {
      &__title {
        padding: 16px;
      }
      &__tags {
        padding-left: 16px;
      }
    }
  }
}
