@use '@/styles/vars.scss' as *;

.hero {
  padding: 40px 40px 180px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 0.9fr;
    width: 75%;
    gap: 60px;
    min-height: 220px;
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
    line-height: 1.2;
    &__title {
      padding: 30px 40px;
      background-color: $black;
      font-size: clamp(20px, 1.5vw, 26px);
      line-height: 1;
      color: $bg;
    }
    &__tags {
      padding-left: 60px;
      border-left: 3px solid $black;
    }
  }
}
