@use '@/styles/vars' as *;

.modal {
  position: fixed;
  inset: 0;
  background-color: $bg-dark;
  z-index: 100;
  visibility: hidden;
  &__cursor {
    position: absolute;
    color: $red;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate3D(
      calc((var(--mouse-x) * 1px) + 1rem),
      calc((var(--mouse-y) * 1px) + 1rem),
      0
    );
    &_inner {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    background-color: $black;
    color: $red;
    cursor: pointer;
    z-index: 1;
    transition: color 0.7s cubic-bezier(0.65, 0, 0.35, 1);
    & svg {
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $red;
      transform: scaleY(0);
      z-index: 0;
      transition: transform 0.7s cubic-bezier(0.65, 0, 0.35, 1);
    }
    &:hover {
      color: $black;
      &::before {
        transform: scaleY(1);
      }
    }
  }
}

.controls {
  position: absolute;
  left: 40px;
  bottom: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  &__action {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $red;
    color: $black;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    transition: color 0.7s cubic-bezier(0.65, 0, 0.35, 1);
    & svg {
      z-index: 1;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: $black;
      transform: scaleY(0);
      z-index: 0;
      transition: transform 0.7s cubic-bezier(0.65, 0, 0.35, 1);
    }
    &:hover {
      color: $red;
      &::before {
        transform: scaleY(1);
      }
    }
  }
  &__sound {
    height: 100%;
    aspect-ratio: 1 / 1;
    background: $black;
  }
  &__timer {
    color: $red;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
  }
}

.video {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}
