@use '@/styles/vars' as *;

.works {
  margin-top: 160px;
  margin-bottom: 165px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  &:not(.disabled) {
    .works__item {
      &:hover {
        color: $bg;
        &::before {
          transform: scaleY(1);
        }
        .works__item_gallery {
          &::-webkit-scrollbar-track {
            background-color: rgba(155, 155, 136, 0.2);
          }

          &::-webkit-scrollbar-thumb {
            background-color: $bg;
          }
        }
      }
    }
  }
  &__item {
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
    line-height: 1.2em;
    padding: 0 60px;
    position: relative;
    transition: color 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    .link {
      display: flex;
      gap: 3px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $black;
      z-index: -1;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    }
    &_info {
      flex-grow: 1;
      display: flex;
      position: relative;
      .line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: $black;
        transform-origin: left;
      }
      .name {
        flex-basis: 23vw;
        padding: 14px 0;
        white-space: nowrap;
      }
      .tags {
        flex-grow: 1;
        padding: 14px 10px;
        white-space: nowrap;
      }
    }
    &_gallery {
      display: flex;
      gap: 3px;
      max-width: 100%;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $black;
      }
      img,
      video {
        width: auto;
        height: 165px;
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
      }
    }
  }
  @media screen and (max-width: 1320px) {
    &__item {
      padding-right: 0;
    }
  }

  @media screen and (max-width: $breakpoint_tablet) {
    margin-top: 60px;
    &__item {
      padding-left: 40px;
    }
  }
  @media screen and (max-width: $breakpoint_mobile) {
    margin-top: 60px;
    .link {
      flex-direction: column;
    }
    &__item {
      padding-left: 10px;
      &_info {
        gap: 10px;
        .name {
          flex-basis: 50%;
        }
        .tags {
          flex-basis: 50%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
