@use '@/styles/vars' as *;

.button {
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $red;
    transform: scaleY(0);
    z-index: 0;
    transition: transform 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  }
  &:hover {
    &::before {
      transform: scaleY(1);
    }
  }
}
.canvas {
  aspect-ratio: 1 / 1;
}
