@use '@/styles/vars' as *;

.focus {
  height: 100dvh;
  background-color: $black;
  position: relative;
}

.content {
  position: absolute;
  top: 120px;
  left: 60px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  visibility: hidden;
  &__title {
    color: $bg;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
  }
  &__breadcrumbs {
    max-width: 390px;
    min-height: 133px;
    padding-left: 20px;
    position: relative;
    &_line {
      width: 3px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: $bg;
    }
    & > * {
      display: inline-block;
      color: $bg;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 34px;
      margin-right: 0.6rem;
    }
    &_web,
    &_motion {
      & > p:nth-child(1) {
        color: $red;
      }
    }
    &_brand {
      & > p:nth-child(1) {
        color: $yellow;
      }
    }
  }
  &__list {
    color: $bg;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    display: none;
    span {
      opacity: 0;
    }
  }
  &.web {
    .content__breadcrumbs {
      & > p:nth-child(1) {
        color: $red;
      }
    }
    .stack [data-name='web'] {
      display: block;
      color: $red;
    }
  }
  &.brand {
    .content__breadcrumbs {
      & > p:nth-child(2) {
        color: $yellow;
      }
    }
    .stack [data-name='brand'] {
      display: block;
      color: $yellow;
    }
  }
  &.motion {
    .content__breadcrumbs {
      & > p:nth-child(3) {
        color: $red;
      }
    }
    .stack [data-name='motion'] {
      display: block;
      color: $red;
    }
  }
}

.scroll {
  position: absolute;
  bottom: 120px;
  left: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  color: $bg;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  visibility: hidden;
  &__line {
    width: 3px;
    height: 100px;
    position: relative;
    overflow: hidden;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100px;
      background-color: $bg;
      // transform: translate3d(-100%);
    }
  }
}

.click_hold {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 87.5% */
  color: $yellow;
  pointer-events: none;
  transform: translate3D(
    calc((var(--mouse-x) * 1px) + 1rem),
    calc((var(--mouse-y) * 1px) + 1rem),
    0
  );
  &__line {
    position: absolute;
    top: -12px;
    left: 0;
    width: 14px;
    height: 3px;
    background-color: $yellow;
    transform-origin: left;
  }
}
