@use '@/styles/vars' as *;

.allworks {
  margin-top: 300px;
  padding: 0 60px;
  &__title {
    width: 85%;
    aspect-ratio: 3.9;
    margin: auto;
    canvas {
      background-color: rgb(200, 168, 229);
    }
  }
  @media screen and (max-width: $breakpoint_tablet) {
    margin-top: 120px;
    padding: 0 40px;
    &__title {
      width: auto;
      aspect-ratio: 1.82;
    }
  }
  @media screen and (max-width: $breakpoint_mobile) {
    padding: 0 10px;
  }
}
