@use '@/styles/vars' as *;

.footer {
  padding: 60px 60px 100px 60px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.2em;
  .date {
    width: 50%;
    margin-left: auto;
  }
  .title {
    margin-top: 120px;
    width: 90%;
    position: relative;
    &__canvas {
      // aspect-ratio: 1621 / 174;
      height: 8.8vw;
    }
    &__description {
      position: absolute;
      top: -4px;
      left: calc(100% + 16px);
      line-height: 1.2em;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 160px;
  }
  .links {
    width: 100%;
    transform-origin: left;
    &__link {
      transform-origin: left;
      &_email {
        margin-bottom: 60px;
        font-size: 20px;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > p:last-child {
      margin-top: auto;
    }
  }
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 60px 40px 120px 40px;
    .date {
      display: none;
    }
    .title {
      margin-top: 0;
      width: 100%;
      &__canvas {
        height: 31.3vw;
        margin-top: calc(40px - (($breakpoint_tablet - 100vw) * 0.029));
        margin-left: calc(($breakpoint_tablet - 100vw) * -0.025);
      }
      &__description {
        position: static;
        margin-top: 20px;
        width: 50%;
        margin-left: auto;
      }
    }
    .links {
      margin-top: 20px;
      width: 100%;
      &__link {
        width: 50%;
        margin-left: auto;
        &_email {
          width: 100%;
        }
      }
    }
    .copyright {
      margin-top: 60px;
    }
  }
  @media screen and (max-width: $breakpoint_mobile) {
    padding: 40px 10px 120px 10px;
    .title {
      margin-top: 0;
      width: 100%;
      &__canvas {
        height: 34vw;
        margin-top: calc((($breakpoint_mobile - 100vw) * 0.029));
        margin-left: calc(($breakpoint_mobile - 100vw) * -0.005);
      }
      // &__description {
      //   position: static;
      //   margin-top: 20px;
      //   width: 50%;
      //   margin-left: auto;
      // }
    }
  }
}
