@use '@/styles/vars.scss' as *;

.credits {
  margin-top: 160px;
  padding: 20px 60px 320px;
  display: flex;
  position: relative;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.2;
  .line {
    display: block;
    height: 3px;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 60px;
    right: 60px;
    transform-origin: left;
  }
  &__title {
    width: 50%;
  }
  &__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > li {
      display: flex;
      align-items: center;
      p {
        width: 50%;
      }
    }
  }
}
