@use '@/styles/vars' as *;

.follow {
  margin-top: 320px;
  background-color: $black;
  padding: 25% 60px;
  display: flex;
  gap: 60px;
  position: relative;
  .title {
    width: 53%;
    flex-shrink: 0;
    aspect-ratio: 5.55 / 1;
    position: relative;
    &__description {
      color: $bg;
      position: absolute;
      left: 0;
      top: 117%;
      font-size: clamp(16px, 1.1vw, 20px);
      line-height: 24px;
      font-weight: 600;
      max-width: 310px;
    }
  }
  .list {
    flex-grow: 1;
    background-color: $bg;
    padding: 22px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    a {
      transform-origin: left;
      overflow: hidden;
    }
  }
  .silver {
    position: absolute;
    width: 16%;
    height: auto;
    aspect-ratio: 1 / 1;
    top: calc(60px + 5%);
    left: 8%;
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
  }
  .robo {
    position: absolute;
    width: 33%;
    height: auto;
    aspect-ratio: 16 / 9;
    top: calc(60px + 18%);
    left: 24%;
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
  }
  .astranaut {
    position: absolute;
    width: 16%;
    height: auto;
    aspect-ratio: 1 / 1;
    top: calc(60px + 5%);
    right: 8%;
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
  }
  .venera {
    position: absolute;
    width: 16%;
    height: auto;
    aspect-ratio: 16 / 8;
    bottom: calc(60px + 17%);
    right: 25%;
    clip-path: polygon(0px 50%, 100% 50%, 100% 50%, 0px 50%);
  }
}
