@use '@/styles/vars.scss' as *;

.next {
  background-color: $black;
  padding: 280px 0 170px;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.2;
  color: $bg;
  .wrapper {
    display: flex;
    align-items: flex-start;
  }
  &__title {
    margin: 0 10%;
    aspect-ratio: 2.55;
    flex-grow: 1;
    width: 47%;
    position: relative;
    &_name {
      position: absolute;
      top: 0;
      left: 65.5%;
    }
  }
  &__video {
    line-height: 0;
    width: 33%;
    video {
      width: 100%;
    }
  }
  &__copyright {
    padding: 240px 60px 0;
  }
  @media screen and (max-width: $breakpoint_tablet) {
    padding: 120px 40px 160px;
    .wrapper {
      display: block;
    }
    &__title {
      width: 100%;
      margin: 0 0 100px 0;
    }
    &__video {
      width: 100%;
    }
    &__copyright {
      padding: 120px 0 0;
    }
  }
  @media screen and (max-width: $breakpoint_mobile) {
    padding: 60px 10px 160px;
    &__title {
      &_name {
        top: calc(100% + 40px);
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__copyright {
      padding: 60px 0 0;
    }
  }
}
